<html>
  <head>
    <title></title>
  </head>
  <body>
    {% if persons %}
      <table border="1px black dotted">
        <thead>
          <tr>
            <th>Name:</th>
            <th>Surname:</th>
            <th>Bio:</th>
            <th>Contacts:</th>
          </tr>
        </thead>
        <tbody>
          {% for person in persons %}
            <tr>
              <td>{{ person.name }}</td>
              <td>{{ person.surname }}</td>
              <td>{{ person.bio|linebreaksbr }}</td>
              <td>{{ person.contacts|linebreaksbr }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Zeropeople</p>
    {% endif %}
    <!--
    {% if settings %}
      <h1>{{ settings.TIME_ZONE }}</h1>
      <h1>{{ settings.DEBUG }}</h1>
    {% endif %}
    -->
  </body>
</html>
